<%= image_tag(image_path("header05-top.gif"), :id => "top-brace", :class => "curly-brace") %>
<%= image_tag(image_path("background.gif"), :id => "card") %> <br />
<%= image_tag(image_path("invite-text.png"), :id => "card") %>
<%= image_tag(image_path("header05-bottom.gif"), :id => "bottom-brace", :class => "curly-brace") %>

<div class="holder">

	<!--<div class="spacer">
		<% if @invitation.responded_at.nil? %>
			<span class="rsvp-by">Kindly reply by May 1, 2013</span>
		<% end %>
		<%= link_to(((@invitation.responded_at.nil? ? "Click here to RSVP " : "Click here to change your attendance ") << "<i class=\"icon-circle-arrow-right icon-white\"></i>").html_safe, rsvp_path(@invitation.code), :class => "btn btn-success btn-large") %>
	</div>-->

	<div class="section spacer">
		<% days_to_go = (DateTime.parse(ENV['WEDDING_DATE']) - DateTime.now).to_i %>

		<% if days_to_go > 0 %>
			<h1 style="margin-top: 15px">Only <%= days_to_go %> days to go until the wedding!</h1>
		<% elsif days_to_go == 0 %>
			<h1 style="margin-top: 15px">Wedding day!!!</h1>
		<% else %>
			<h1 style="margin-top: 15px"><%= ENV['COUPLE_NAME'] %> were married <%= -days_to_go %> days ago!</h1>
		<% end %>

	</div>

	<div class="section spacer">
		<h2>About Glen Afric</h2>
		<p>Glen Afric Country Lodge nestled in the Cradle of Human Kind and Magalies Biosphere, a short distance from Johannesburg,
    surrounded by ancient heritage. Leave the hustle and bustle of city life and join us in the bushveld with stunning views -
    a truly magical place.</p>
    <%= image_tag(image_path("glenafric1.jpg"), :width => "440", :class => "photo") %>
    <%= image_tag(image_path("glenafric2.jpeg"), :width => "440", :class => "photo last") %>
    <%= image_tag(image_path("glenafric3.jpg"), :width => "440", :class => "photo") %>
    <%= image_tag(image_path("glenafric4.jpg"), :width => "440", :class => "photo last") %>
	</div>

	<div class="section spacer">
		<h2>Accommodation</h2>
    <p>There are a few types of rooms available. Bookings are on a first-come, first-served basis and are not restricted
      to our wedding. Check out the <a target="_blank" href="https://www.glenafric.co.za/accomodation-options.html">accommodation options</a>.</p>=
    <%= image_tag(image_path("accom.jpg"), :width => "600", :class => "photo") %>
    <%= image_tag(image_path("accom2.jpg"), :width => "380", :class => "photo last") %>
    <p>Please reserve your room as soon as possible. Contact Glen Afric on <a href="tel:+27-12-205-1412">012 205-1412</a> or <a href="tel:+27-82-781-2579">082 781-2579</a> to make a reservation
      or email <a href="mailto:info@glenafric.co.za">info@glenafric.co.za</a>.
	</div>

	<div class="section spacer">
		<h2>Directions</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14367.02250896797!2d27.870477453084074!3d-25.811634966504688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95808f322ae7f7%3A0x1c1472655efe239a!2sGlen+Afric+Country+Lodge!5e0!3m2!1sen!2s!4v1502620328953" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>From Lanseria, drive 14km along the R512 heading North towards Hartbeespoort. Turn left onto the dirt road
    (by "The Blue Room" / where Nikita Portuguese restaurant is on the right).</p>
    <%= image_tag(image_path("r512-turn.png"), :class => "photo") %>
    <p> Follow the dirt road for 500m and turn left at the Glen Afric sign</p>
	</div>

  <div class="section spacer" id="gifts">
    <h2>Gifts</h2>
    <p>We are an established family and could not think of anything we'd like more than your presence being our presents
      - we will have a "honeymoon" box if you would like to offer a donation.</p>
    <h3>Banking details</h3><p><pre>FNB<br />Branch: 250-655<br />Account: 62385732435<br />Ref: please use your  name :)<br />Swift code: FIRNZAJJXXX</pre></p>
  </div>

	<div class="section spacer" id="itinerary">
		<h2>Itinerary</h2>
		<p>The wedding will be held at Glen Afric Country Lodge on Sunday, October 15th, 2017.</p>
		<table class="information">
			<tr>
				<th style="width: 120px">Time</th>
				<th>Who/what/where/when</th>
			</tr>
			<tr>
				<th>3:00 pm</th>
				<td>Arrive & Drinks</td>
			</tr>
      <tr>
				<th>3:30 pm</th>
				<td>Ceremony</td>
			</tr>
      <tr>
        <th>4:00 pm</th>
        <td>Photos</td>
      </tr>
      <tr>
        <th>5:00 pm</th>
        <td>Reception, Dinner & Celebration</td>
      </tr>
      <tr>
        <th>12:00 am</th>
        <td>Go Aweh</td>
      </tr>
		</table>
	</div>

	<div class="section spacer">
		<h2>Attire</h2>
		<p>Dress code is smart-casual.</p>
	</div>

	<div class="section spacer">
		<h2>How do I RSVP?</h2>
		<% if @invitation.responded_at.nil? %>
			<p>To RSVP, simply click the big green button at the bottom of this page and follow the instructions from there.</p>
		<% else %>
			<p>It looks like you (or someone else on your invitation) has already RSVP'd, so you're all set!</p>
		<% end %>
	</div>

	<div class="section spacer">
		<h2>Questions?</h2>
		<p>If you have any questions, you can send us an email at <a href="mailto:<%= ENV['RSVP_NOTIFICATION_ADDRESS'] %>"><%= ENV['RSVP_NOTIFICATION_ADDRESS']%></a>.</p>
	</div>

  <div class="section spacer">
  <p>We look forward to seeing you all at our wedding!</p>
  </div>

  <div class="spacer" style="margin-top: 70px !important">
		<% if @invitation.responded_at.nil? %>
			<span class="rsvp-by">Kindly reply by <%= ENV['RESPOND_BY_DATE'] %></span>
		<% else %>
			<span class="rsvp-by">Your RSVP has already been sent!</span>
		<% end %>
		<%= link_to(((@invitation.responded_at.nil? ? "Click here to RSVP " : "Click here to change your attendance ") << "<i class=\"icon-circle-arrow-right icon-white\"></i>").html_safe, rsvp_path(@invitation.code), :class => "btn btn-success btn-large") %>
	</div>
</div>
