<%= image_tag(image_path("top-brace.png"), :id => "top-brace", :class => "curly-brace") %>
<%= image_tag(image_path("new-card.png"), :id => "card") %>
<%= image_tag(image_path("bottom-brace.png"), :id => "bottom-brace", :class => "curly-brace") %>

<div class="holder">

	<!--<div class="spacer">
		<% if @invitation.responded_at.nil? %>
			<span class="rsvp-by">Kindly reply by May 1, 2013</span>
		<% end %>
		<%= link_to(((@invitation.responded_at.nil? ? "Click here to RSVP " : "Click here to change your attendance ") << "<i class=\"icon-circle-arrow-right icon-white\"></i>").html_safe, rsvp_path(@invitation.code), :class => "btn btn-success btn-large") %>
	</div>-->

	<div class="section spacer">
		<% days_to_go = (DateTime.parse(ENV['WEDDING_DATE']) - DateTime.now).to_i %>

		<% if days_to_go > 0 %>
			<h1 style="margin-top: 15px">Only <%= days_to_go %> days to go until the wedding!</h1>
		<% elsif days_to_go == 0 %>
			<h1 style="margin-top: 15px">Wedding day!!!</h1>
		<% else %>
			<h1 style="margin-top: 15px"><%= ENV['COUPLE_NAME'] %> were married <%= -days_to_go %> days ago!</h1>
		<% end %>

	</div>

	<div class="section spacer">
		<h2>The Venue (insert name here)</h2>

		<p></p>
	</div>

	<div class="section spacer">
		<h2>Accommodation</h2>
	</div>

	<div class="section spacer">
		<h2>Location</h2>
	</div>

  <div class="section spacer" id="gifts">
    <h2>Gifts</h2>
    <p>We are an established family and could not think of anything we'd like more than your presence being our presents
      - we will have a "honeymoon" box if you would like to give something.</p>
  </div>

	<div class="section spacer" id="itinerary">
		<h2>Itinerary</h2>
		<p>The wedding will be held at ...venue.. on Saturday, October 14th, 2017.</p>
		<table class="information">
			<tr>
				<th style="width: 120px">Time</th>
				<th>Who/what/where/when</th>
			</tr>
			<tr>
				<th>3:00 pm</th>
				<td>Ceremony at Elephant</td>
			</tr>
				<th>12:00 am</th>
				<td>Party's over, but the fun has just begun!</td>
			</tr>
		</table>
	</div>

	<div class="section spacer">
		<h2>Attire</h2>
		<p>Dress code is smart-casual.</p>
	</div>

	<div class="section spacer">
		<h2>How do I RSVP?</h2>
		<% if @invitation.responded_at.nil? %>
			<p>To RSVP, simply click the big green button at the bottom of this page and follow the instructions from there.</p>
		<% else %>
			<p>It looks like you (or someone else on your invitation) has already RSVP'd, so you're all set!</p>
		<% end %>
	</div>

	<div class="section spacer">
		<h2>Questions?</h2>
		<p>If you have any questions, you can send us an email at <a href="<%= ENV['RSVP_NOTIFICATION_ADDRESS'] %>"><%= ENV['RSVP_NOTIFICATION_ADDRESS']%></a>.</p>
	</div>

  <div class="section spacer">
  <p>We look forward to seeing you all at our wedding!</p>
  </div>

  <div class="spacer" style="margin-top: 70px !important">
		<% if @invitation.responded_at.nil? %>
			<span class="rsvp-by">Kindly reply by <%= ENV['RESPOND_BY_DATE'] %></span>
		<% else %>
			<span class="rsvp-by">Your RSVP has already been sent!</span>
		<% end %>
		<%= link_to(((@invitation.responded_at.nil? ? "Click here to RSVP " : "Click here to change your attendance ") << "<i class=\"icon-circle-arrow-right icon-white\"></i>").html_safe, rsvp_path(@invitation.code), :class => "btn btn-success btn-large") %>
	</div>
</div>
