<%= image_tag(image_path("top-brace.png"), :id => "top-brace", :class => "curly-brace") %>
<!--<%= image_tag(image_path("card.png"), :id => "card") %> -->
<%= image_tag(image_path("bottom-brace.png"), :id => "bottom-brace", :class => "curly-brace") %>

<div class="holder">

	<!--<div class="spacer">
		<% if @invitation.responded_at.nil? %>
			<span class="rsvp-by">Kindly reply by May 1, 2013</span>
		<% end %>
		<%= link_to(((@invitation.responded_at.nil? ? "Click here to RSVP " : "Click here to change your attendance ") << "<i class=\"icon-circle-arrow-right icon-white\"></i>").html_safe, rsvp_path(@invitation.code), :class => "btn btn-success btn-large") %>
	</div>-->

	<div class="section spacer">
		<% days_to_go = (DateTime.parse(ENV['WEDDING_DATE']) - DateTime.now).to_i %>

		<% if days_to_go > 0 %>
			<h1 style="margin-top: 15px">Only <%= days_to_go %> days to go until the wedding!</h1>
		<% elsif days_to_go == 0 %>
			<h1 style="margin-top: 15px">Wedding day!!!</h1>
		<% else %>
			<h1 style="margin-top: 15px"><%= ENV['COUPLE_NAME'] %> were married <%= -days_to_go %> days ago!</h1>
		<% end %>

		<br><br><h2>Notices</h2>

		<p><b>1. Ceremony time and itinerary</b></p>

		<p>The ceremony will be held at 3:00 pm. This will allow everyone to have a break and cool down before the reception begins.
            Cocktail hour will be held by the pool at 6:00 pm and dinner at 7:30 pm. </p>

		<p><b>2. Attire</b></p>

		<p>Boho, chilled. </p>

		<p><b>3. Gifts</b></p>

		<p>We are an established family and could not think of anything we'd like more than your presence being our presents - would love to spend the weekend with you. </p>

		<p><b>4. Don't forget to book your accommodation</b></p>

		<p>If you haven't done so already, don't forget to book your room! Rooms are only available on a space-available basis and will book up fast.</p>

		<p>If you'd like to find someone to share a room or ride with, <a href="mailto:wedding@brettandelke.com">send us an email</a> and we'll help coordinate with others.</p>

		<p>We look forward to seeing you all at our wedding!</p>
	</div>

	<div class="section spacer">
		<h2>About SunWa River Logdge</h2>

		<p><a href="http://www.sunwa.co.za" target="_blank">SunWa River Lodge</a> has gone to great lengths to utilize the beautiful environment of the Vaal River and to create a venue where tranquility and hospitality are paramount.</p>

		<p>We chose SunWa Lodge as it is TODO</p>

		<%= image_tag(image_path("sunwa1.jpg"), :width => "440", :class => "photo") %>
        <%= image_tag(image_path("sunwa2.jpg"), :width => "440", :class => "photo last") %>
        <%= image_tag(image_path("sunwa3.jpg"), :width => "440", :class => "photo") %>
        <%= image_tag(image_path("sunwa4.jpg"), :width => "440", :class => "photo last") %>
	</div>

	<div class="section spacer">
		<h2>Accommodation</h2>
		<p>There are a few types of rooms available. Bookings are on a first-come, first-served basis and are not restricted to our wedding.</p>

		<p>Please reserve your room as soon as possible. Reservations can be made online at
            <a href="https://www.nightsbridge.co.za/bridge/book?action=2&bbid=20734&lang=en&startdate=2017-10-13&enddate=2017-10-15" target="_blank">SunWa Booking Site</a>,
            emailing <a href="mailto:reservations@sunwa.co.za">reservations@sunwa.co.za</a> or by calling +27 11 431 2040 (mention you're booking for "Brett And Elke's Wedding").
            An overview of the available room types is below. Children 5-12 are 50% of the rate and children 4 or younger are free (mattresses can be added to rooms if needed). Prices are
            shown as sharing rate vs solo rate:</p>
		<table class="information">
			<tr>
				<th style="width: 18%">Room Type</th>
				<th style="">Description</th>
				<th style="width: 15%">Rate pp/night</th>
			</tr>
			<tr>
				<td>Double Storey Canadian Log Cabins</td>
				<td>Three-bed (2 units) / Twin-bed (30 units) charming, hand crafted en-suite log cabins nestled amongst the trees. Private decks overlook the river, with the atmosphere of a small village.</td>
				<td>R385 / R585</td>
			</tr>
			<tr>
				<td>Single Storey Cabins</td>
				<td>Three-bed (2 units) / Twin-bed (15 units) quaint en-suite log cabins clustered together in groups of 5 - 6 to create a family feeling.</td>
				<td>R345 / R545</td>
			</tr>
			<tr>
				<td>Thorntree Cottage</td>
				<td>This quaint guesthouse has 11 rooms that can accommodate 21 people. It has a homely lounge, 8 twin-bed rooms, 2 single-bed rooms that share 3 bathrooms, and 1 x three-bed room with separate entrance and en-suite bathroom.</td>
				<td>R345</td>
			</tr>
			<tr>
				<td>Quarter Deck "Executive Rooms"</td>
				<td>The Quarter Deck is located away from the main camp and offers a little more privacy. There are 5 private en-suite rooms and a small lounge. The look and feel of these rooms are less rustic than the log cabins.</td>
				<td>R385 / R585</td>
			</tr>
			<tr>
				<td>Duckpond "Signature Rooms"</td>
				<td>Duckpond is adjacent to Quarter Deck, having 4 private en-suite rooms that are modern and spacious with huge showers. All these rooms have air-conditional and face the natural rock formations. </td>
				<td>R425 / R625</td>
			</tr>
		</table>

		<p>Other notes:</p>

		<ul class="information">
			<li>Accommodation does not include any meals. Saturday dinner at the reception is provided.</li>
			<li>Full menu is available HERE TODO</li>
			<li>SunWa is an alcohol-free zone - no alcohol allowed anywhere on the premises</li>
            <li>Just keeeding</li>
		</ul>

		<p>If you prefer to stay elsewhere, there are <a href="https://www.safarinow.com/destinations/Parys/hub.aspx?source=8261" target="_blank">some other options</a>.</p>

	</div>

	<div class="section spacer">
		<h2>Location</h2>
		<p>Parys is a town situated on the banks of the Vaal River in the Free State, about 2 hours drive south of Johannesburg.</p>

		<p><b>From Johannesburg &mdash;</b>  directions</p>

		<a class="btn btn-success btn-large" href="https://goo.gl/maps/Ppu7bjvgC182" target="_blank">Click here to get directions</a>
	</div>

	<div class="section spacer" id="itinerary">
		<h2>Itinerary</h2>
		<p>The wedding will be held at SunWa River Lodge on Saturday, October 14th, 2017.</p>
		<table class="information">
			<tr>
				<th style="width: 100px">Time</th>
				<th>Who/what/where/when</th>
			</tr>
			<tr>
				<th>3:00 pm</th>
				<td>Ceremony at Elephant</td>
			</tr>
			<tr>
				<th>5:00 pm</th>
				<td>Drinks and hors d'oeuvres around the pool</td>
			</tr>
			<tr>
				<th>6:30 pm</th>
				<td>Dinner.</td>
			</tr>
			<tr>
				<th>8:00 pm</th>
				<td>First dance, followed by party time!</td>
			</tr>
			<tr>
				<th>11:30 pm</th>
				<td>Last call for alcohol</td>
			</tr>
			<tr>
				<th>12:00 am</th>
				<td>Party's over, but the fun has just begun!</td>
			</tr>
		</table>
	</div>

	<div class="section spacer">
		<h2>Attire</h2>
		<p>Wear something confortable, we'd love for you all to look your best, but please dress appropriately for the warm weather.</p>
	</div>

	<div class="section spacer">
		<h2>How do I RSVP?</h2>
		<% if @invitation.responded_at.nil? %>
			<p>To RSVP, simply click the big green button at the bottom of this page and follow the instructions from there.</p>
		<% else %>
			<p>It looks like you (or someone else on your invitation) has already RSVP'd, so you're all set!</p>
		<% end %>
	</div>

	<div class="section spacer">
		<h2>Questions?</h2>
		<p>If you have any questions, you can send us an email at <a href="<%= ENV['RSVP_NOTIFICATION_ADDRESS'] %>"><%= ENV['RSVP_NOTIFICATION_ADDRESS']%></a>.</p>
	</div>

	<div class="spacer" style="margin-top: 70px !important">
		<% if @invitation.responded_at.nil? %>
			<span class="rsvp-by">Kindly reply by <%= ENV['RESPOND_BY_DATE'] %></span>
		<% else %>
			<span class="rsvp-by">Your RSVP has already been sent!</span>
		<% end %>
		<%= link_to(((@invitation.responded_at.nil? ? "Click here to RSVP " : "Click here to change your attendance ") << "<i class=\"icon-circle-arrow-right icon-white\"></i>").html_safe, rsvp_path(@invitation.code), :class => "btn btn-success btn-large") %>
	</div>
</div>
